@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Twitter:</strong> <a href="https://twitter.com/intent/tweet?screen_name=junton">@@junton</a><br />
    <strong>Email:</strong> <a href="mailto:junton@iwasthere.io">junton@iwasthere.io</a>
</address>
